*.swo
*.swp
*.swn
*.o
TAGS
tags
CMakeFiles
include/indri
include/antlr
include/xpdf
include/lemur
config
collection
indri
lib
log
share
external/indri-5.9/site-search/build.param
external/indri-5.9/site-search/crawl-index
external/indri-5.9/MakeDefns
external/indri-5.9/Makefile.app
external/indri-5.9/buildindex/IndriBuildIndex
external/indri-5.9/clarity/clarity
external/indri-5.9/config.log
external/indri-5.9/config.status
external/indri-5.9/depend/
external/indri-5.9/dumpindex/dumpindex
external/indri-5.9/harvestlinks/harvestlinks
external/indri-5.9/indrid/IndriDaemon
external/indri-5.9/makeprior/makeprior
external/indri-5.9/modifyfields/ModifyFields
external/indri-5.9/pagerank/pagerank
external/indri-5.9/reformulate/ReformulateQuery
external/indri-5.9/rmodel/rmodel
external/indri-5.9/runquery/IndriRunQuery
external/indri-5.9/site-search/cgi/bin/lemur.cgi
bin/mk_wand_idx
bin/wand_search
