[submodule "external/fastpfor"]
	path = external/fastpfor
	url = https://www.github.com/lemire/FastPFor.git
[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = https://www.github.com/simongog/sdsl-lite.git
[submodule "external/indri-5.9"]
	path = external/indri-5.9
	url = https://www.github.com/jsc/indri-5.9
